<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
  	<div class="navbar-header">
      <a class="navbar-brand" href="/">Best nodejs site</a>
    </div>
	<ul class="nav navbar-nav">
	  <% if (user) { %>
	  <li><a href="/posts/new">Add post</a></li>
	  <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <% if (user) { %>
	  <li><a href="" onclick="$('<form method=POST action=/users/logout>').submit();return false"><span class="glyphicon glyphicon-log-out"></span> Logout</a></form></li>
	  <% } else { %>
	  <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	  <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  <% } %>
	</ul>
  </div>
</nav>